<ul>
  <li><a href="/schools">School Index</a></li>
  <li><a href="/students">Student Index</a></li>
</ul>
<h1>All Students</h1>

<% @students.each do |student| %>
  <h3><%= student.name %></h3>
  <p>Grade: <%= student.grade %></p>
  <p>English Learner: <%= student.english_learner %></p>
  <br>
<% end %>