<a href="/schools">School Index</a>

<h1><%= @school.name %></h1>

<p>ESL Program: <%= @school.esl_program %></p>

<p>Tuition: <%= @school.tuition %></p>

<p>Number of students: <%= @student_count %></p>